$white: #ffffff;

$default-1: 'PK Phrae-Medium', sans-serif;
$default-2: 'Pind text', sans-serif;
$default-3: 'PK Maehongson-Medium', sans-serif;
$default-4: 'FCParagraph[Non-commercial]-Medium', sans-serif;
$default-5: 'FC Minimal Regular', sans-serif;


$black_1: #161616 100%;
$red_1: #e31837 100%;
